<div class="container">
    <div class="row">
        <div class="col-sm-9">
            <h5>Email Scheduler</h5>
        </div>
        <div class="col-sm-3">
            <span 
                (click)="openDialog()" 
                class="ldap-cogs">
                <i class="fa fa-cogs fa-2x" aria-hidden="true"></i></span>
        </div>
    </div>
    <div class="row">
        <span class="scheduler">Status: </span>
    </div>
    <div class="row">
        <span class="scheduler">Scheduled emails:</span>
    </div>
</div>
