<div class="container mt-5">
  <div class="row justify-content-md-center">
    <div class="col-md-3">
      <div class="card">
        <div class="card-body p-4"
             routerLink="user-byte-size">
          <i class="fa fa-5x fa-bar-chart" aria-hidden="true"></i>
          <p> User Byte Size </p>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="card">
        <div class="card-body  p-4"
             routerLink="popular-resource">
            <i class="fa fa-5x fa-pie-chart" aria-hidden="true"></i>
            <p>Popular Resource</p>
        </div>
      </div>
    </div>
  </div>
  <div class="row  justify-content-md-center mt-4">
      <div class="col-md-3">
          <div class="card">
            <div class="card-body  p-4"
                 routerLink="resource">
                <i class="fa fa-5x  fa-line-chart" aria-hidden="true"></i>
                <p>Users Count</p>
            </div>
          </div>
        </div>
   </div>
  </div>


