$orange: #f0ad4e;

.add_user_window-inner-div {
    position: relative;
    min-height: 300px;
    margin: 0 0 40px;
}

.add_user_window-save-button {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 50px;
    width: 100%;
    overflow: hidden;
    text-align: right;
}

.button_right {
    position: absolute;
    right: 0;
}

h2.add_user_window-header {
    border-bottom: 2px solid $orange;
    font-size: 25px;
    text-align: center;
    padding-right: 50px;
}

.form_field {
    width: 100%;
    margin-bottom: 25px;
}
