<div class="row">
  <div class="col">
    <div ngbDropdown class="d-inline-block">
      <button class="btn btn-outline-warning"
        id="dropdownBasic1"
        ngbDropdownToggle>{{user.email}}</button>
      <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
        <a
          routerLink="/time-settings"
          class="dropdown-item"
          i18n="User time settings@@user_timeSettings" >{{ 'DropDown.settingsItem' | translate }}</a>
        <a
          routerLink="/language"
          class="dropdown-item"
          i18n="User language settings@@user_language" >{{ 'DropDown.languageItem' | translate }}</a>
      </div>
    </div>
  </div>
